
body {
  background-image: url('../images/bacgroundSunset.png');
  background-size: contain;
}

#head {
  width:800pt;
  height: 380px;
}

#logo{
  width: 100%;
  padding: 0px 160px;
}

#gameBox{
  width: 70%;
  float: left;
  position: ;
}

#game {
  border-style: outset;
  border-width: 3px;
  border-block-color: orange;
  border-color: tomato;
  margin: 20px;
}

#counter {
  position: fixed;
  bottom: 150;
  right: 0;
  opacity: 0.8;
  
  padding: 40px;
  width: 250px;
  
}

#score-display{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:purple;
  font-size: 50px;

}

#start-button {
  width: 150px;
  height: 50px;
  background-color: orange;
  font-size: 20px ;
  border-radius: 12px;
  box-shadow: 0 5px #666;
  color:white;
  transform: translateY(4px);

}
